<%- include('partials/header'); -%>
  <header>
    <div>​
      <img src="/friend.png" alt="">​
    </div>​

    <div>​
      <h2>Facebook Friends Mapper</h2>​
      <h3>See You'r Favorite Friends!</h3>
      <br>​
      <a href="/selectFriends" class="btnFriends"><i class="material-icons"
          style="font-size:20px; color:rgb(15, 42, 195)">group</i> Adding Friends</a>
      <a href="/bestFriends" class="btnFriends"><i class="material-icons"
          style="font-size:20px; color:rgb(15, 42, 195)">group</i> You'r Best Friends</a>​
      ​
      ​
    </div>​

  </header>

  <%- include('partials/footer'); -%>​